node_modules/**/*
node_modules/
dist/
.expo/*
.expo-shared/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.vs-code/
# macOS
.DS_Store
*.log
api/api-definitions.ts
dev/ReactotronConfig.js
